* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

@font-face {
  font-family: "MADE Tommy Bold";
  src: url("assets/fonts/made_tommy/MADE TOMMY Bold_PERSONAL USE.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "MADE Tommy Bold", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: #1d1d1d;
}

h1,
h2,
h3,
p {
  font-family: "MADE Tommy Bold", sans-serif;
}

header {
  background: #0f0f0f;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar stays above other content */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  font-family: "MADE Tommy Bold", sans-serif;

  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(0, 172, 237);
}

.section {
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.home {
  /*background: url("home-bg.jpg") no-repeat center center/cover;*/
  /*background-color: #333;*/

  color: #ffffff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s forwards; /* Animation lasting 2 seconds */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Fully transparent at the start */
  }
  100% {
    opacity: 1; /* Fully visible at the end */
  }
}

.portrait {
  width: 280px; /* Desired width */
  height: 400px; /* Desired height */
  overflow: hidden; /* Ensure overflow is hidden */
}

.portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image */
  /*border-radius: 8px;*/ /* Creates round corners */
  border-radius: 50%; /* Modifies image to be a circle */
}

/* --------------------------------------------------- */

.about {
  padding-top: 150px;
  height: 50vh;
  text-align: center;
}

/* --------------------------------------------------- */

.languageTitle {
  padding-top: 150px;
  padding-bottom: 25px;
  text-align: center;
}

.languages {
  padding-top: 10px;
  text-align: center;
}

/* --------------------------------------------------- */

.frameworksTitle {
  padding-top: 150px;
  padding-bottom: 25px;
  text-align: center;
}

.frameworks {
  padding-top: 10px;
  text-align: center;
}

/* --------------------------------------------------- */

.enginesTitle {
  padding-top: 150px;
  padding-bottom: 25px;
  text-align: center;
}

.engines {
  padding-top: 10px;
  text-align: center;
}

/* --------------------------------------------------- */

.softwareTitle {
  padding-top: 150px;
  padding-bottom: 25px;
  text-align: center;
}

.software {
  padding-top: 10px;
  text-align: center;
}

/* --------------------------------------------------- */

div.projectTitle {
  text-align: center;
  padding-top: 200px;
  margin: 10px 0;
}

div.projectGallery {
  width: 80%;
  margin-left: 10%;
}

div.polaroid {
  border: 1px solid #ccc;
  /*padding: 15px; makes it look more like a polaroid */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid:hover {
  border: 1px solid #777;
}

div.polaroid img {
  width: 100%;
  height: auto;
}

div.container {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.project {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  float: left;
  width: 25%; /* Default size */
}

@media only screen and (max-width: 700px) {
  .project {
    /*width: 49.99999%;
    width: 100%;*/
    width: 50%; /* When 700px, project size increases to 75%  */
    margin: 6px 0;
  }

  div.projectGallery {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .project {
    width: 80%; /* When 500px, project size increases to 100%  */
    margin: 6px 0;
  }

  div.projectGallery {
    width: 80%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 300px) {
  .project {
    width: 100%; /* When 500px, project size increases to 100%  */
    margin: 6px 0;
  }
  div.projectGallery {
    width: 80%;
    margin-left: 20%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* End of PROJECTS SECTION */

/* Start of CONNECT SECTION */

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Adjust height as needed */
}

.connect h2 {
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Adjust gap between images as needed */
  text-align: left;
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the aspect ratio */
}

/* End of CONNECT SECTION */

/*div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}*/

#cvTitle {
  height: 20vh;
  text-align: center;
  padding-top: 200px;
}

#cvButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Adjust to fit the viewport */
  padding-top: 10px;
}

#downloadButton {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#downloadButton:hover {
  background-color: #0056b3;
}

#cv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135vh; /* Adjust to fit the viewport */
  overflow: hidden; /* Hide any overflow */
  padding: 20px;
}

.resume iframe {
  width: 100%;
  height: 100%;
  max-width: 816px; /* Maximum width */
  max-height: 1056px; /* Maximum height */
  border: none; /* Remove the default border */
  object-fit: contain; /* Scale the content while maintaining aspect ratio */
}

/* Styles for desktop view */
/*#cv iframe {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 816px;
  height: 1056px;
}*/

/* Styles for mobile view */
/*@media (max-width: 767px) {
  #cv iframe {
    width: 100%;
    height: auto;
  }
}*/

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
}
