* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  line-height: 1.6;
  color: #ffffff;
  background: #1d1d1d;
}

header {
  background: #0f0f0f;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar stays above other content */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00aced;
}

.section {
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.home {
  /*background: url("home-bg.jpg") no-repeat center center/cover;*/
  /*background-color: #333;*/
  color: #ffffff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 300px; /* Desired width */
  height: 400px; /* Desired height */
  overflow: hidden; /* Ensure overflow is hidden */
}

.portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image */
  /*border-radius: 8px;*/ /* Creates round corners */
  border-radius: 50%; /* Modifies image to be a citcle */
}

.about {
  padding-top: 150px;
  height: 50vh;
  text-align: center;
}

/* End of ABOUT SECTION */

/* Start of PROJECTS SECTION */

/*.services {
  height: 50vh;
  text-align: center;
}

.service-item {
  margin: 2rem 0;
}*/

/*.contact {
  height: 50vh;
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form input,
#contact-form textarea {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  background: #00aced;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

#contact-form button:hover {
  background: #007bb5;
}*/

div.projectTitle {
  text-align: center;
  padding-top: 200px;
  margin: 10px 0;
}

div.polaroid {
  border: 1px solid #ccc;
  /*padding: 15px; makes it look more like a polaroid */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid:hover {
  border: 1px solid #777;
}

div.polaroid img {
  width: 100%;
  height: auto;
}

div.container {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.project {
  padding: 6px 6px;
  float: left;
  margin-left: 15px;
  /*width: 24.99999%;*/
  width: 32%; /* Default size */
}

@media only screen and (max-width: 700px) {
  .project {
    /*width: 49.99999%;
    width: 100%;*/
    width: 50%; /* When 700px, project size increases to 75%  */
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .project {
    width: 80%; /* When 500px, project size increases to 100%  */
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .project {
    width: 100%; /* When 500px, project size increases to 100%  */
    margin: 6px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* End of PROJECTS SECTION */

/* Start of CONNECT SECTION */

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Adjust height as needed */
}

.connect h2 {
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Adjust gap between images as needed */
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the aspect ratio */
}

/* End of CONNECT SECTION */

/*div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}*/

#cvTitle {
  height: 20vh;
  text-align: center;
  padding-top: 200px;
}

#cvButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Adjust to fit the viewport */
  padding-top: 10px;
}

#downloadButton {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#downloadButton:hover {
  background-color: #0056b3;
}

#cv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust to fit the viewport */
  overflow: hidden; /* Hide any overflow */
  padding: 20px;
}

.resume iframe {
  width: 100%;
  height: 100%;
  max-width: 816px; /* Maximum width */
  max-height: 1056px; /* Maximum height*/
  border: none; /* Remove the default border*/
  object-fit: contain; /* Scale the content while maintaining aspect ratio*/
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
}
